<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head'); -%>
    <title>Home</title>
  </head>
  <body class="navpage">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">HOME</a>
        </div>
        <div>
        <ul class="navbar-nav navbar-right">
          <% if (user.ROLE === "R" || user.ROLE === "H") { %>
          <li class="nav-item">
            <a class="nav-link" href="/submitter/notparticipate">태스크 참여 신청</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/submitter/participate">태스크 참여 목록</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
              >내 정보</a
            >
            <div class="dropdown-menu">
              <a href="/mypage" class="dropdown-item">제출 현황 확인하기</a>
              <a href="/userinfo" class="dropdown-item">개인정보 수정하기</a>
              <a href="/disconnect" class="dropdown-item">회원 탈퇴하기</a>
            </div>
          </li>
          <%}%> <% if (user.ROLE === "E") { %>
          <li class="nav-item">
            <a class="nav-link" href="/estimatormain">평가하기</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
              >내 정보</a
            >
            <div class="dropdown-menu">
              <a href="/userinfo" class="dropdown-item">정보 수정하기</a>
              <a href="/disconnect" class="dropdown-item">회원 탈퇴하기</a>
            </div>
          </li>
          <%}%> <% if (user.ROLE === "A") { %>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
              >태스크 처리하기</a
            >
            <div class="dropdown-menu">
              <a href="/generatetask" class="dropdown-item">태스크 만들기</a>
              <a href="/request" class="dropdown-item">태스크 요청 확인하기</a>
              <a href="/approval" class="dropdown-item">참여중인 태스크 확인하기</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/taskStats">태스크 통계</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allUsers">모든 회원 리스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download">다운로드</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/userInfo">내 정보</a>
          </li>
          <%}%>
          <li class="nav-item">
            <form method="POST" action="/logout">
              <a class="nav-link"
                ><button class="btn btn-outline-primary">로그아웃</button></a
              >
            </form>
          </li>
          </div>
        </ul>
      </div>
    </nav>
    <div class="container">
        <h1 class="mt-5">
          어서오세요<br />
          <%=user.ID%>님
        </h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
