<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head'); -%>
    <title>Checkout submit files</title>
  </head>
  <body>
    <div class="container">
      <div class="mt-4">
        <h3><a href="/"> 홈으로 돌아가기 </a></h3>
        <h2>나의 제출 현황 확인하기</h2>
        <hr class="mb-3" />
        <ul>
          <li><a href="/num_files">제출한 파일 수 </a></li>
          <li><a href="/num_tuples">통과된 튜플 수</a></li>
          <li><a href="/file_info">제출 파일 현황</a></li>
        </ul>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
