<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head'); -%>
    <title>통과된 튜플 수</title>
  </head>
  <body>
    <div class="container">
      <div class="row mt-4">
        <h2>통과된 튜플 수 확인하기</h2>
        <div class="table-responsive-sm"></div>
        <table class="table table-hover table-striped table-sm table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>태스크 이름</th>
              <th>통과된 튜플 수</th>
            </tr>
          </thead>
          <tbody>
            <%data.forEach(function(item,index){ %>
            <tr>
              <td><%=item.TASKNAME%></td>
              <td><%= item.S%></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
      <hr class="mb-3" />
      <div><a href="/"> 홈으로 돌아가기</a></div>
      <div><a href="/mypage">이전 페이지로</a></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
