<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head'); -%>
    <title>제출 완료</title>
  </head>
  <body>
    <div class="container">
      <div class="mt-4">
        <h2>제출이 완료되었습니다. 감사합니다.</h2>
        <hr class="mb-3" />
        <ul>
          <li><a href="/">홈으로 돌아가기</a></li>
          <li><a href="/submitter/participate">태스크 참여 목록 보기</a></li>
        </ul>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
