<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head'); -%>
    <title>시연용 csv 파일 제공</title>
  </head>
  <body>
    <div class="container">
      <div class="mt-4">
        <h2>시연용 csv 파일</h2>
        <h3>주의사항</h3>
        <ul>
          <li> CSV 파일은 각 팀당 두개씩 준비했습니다. 시연하실 때 각 팀에게 제공된 파일을 사용해주세요.</li>
          <li> 제출 정보 입력시, 파일 아래에 제시한 대로 입력해주셔야 결과를 제대로 확인하실 수 있습니다.</li>
          <li> CSV 파일 열기 및 편집은 메모장을 통해 진행해주세요.</li>
          <li> 회차는 어떤 숫자로든 입력해주시면 됩니다.</li>
        </ul>

        <h3>Team1</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=1&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=1&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team2</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=2&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=2&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team3</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=3&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=3&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>    
          
          <h3>Team4</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=4&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=4&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team5</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=5&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=5&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team6</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=6&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=6&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team8</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=8&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=8&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team9</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=9&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=9&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team10</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=10&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=10&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team11</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=11&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=11&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team12</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=12&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=12&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team13</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=13&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=13&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team14</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=14&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=14&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team15</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=15&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=15&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team16</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=16&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=16&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team17</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=17&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=17&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>Team18</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=18&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 2</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=18&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

          <h3>교수 평가용</h3>
          <ul>
            <li>식당용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=7&role=R">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 1</li>
                <li>기간 : 2020-12-01 ~ 2020-12-01</li>
              </ul>
            </li>
            <li>보건소용 태스크 파일 : <a href="/submitter/download_example_csv?tmid=7&role=H">다운로드</a></li>
            <li>
              <ul>
                <li>원본데이터 타입 : 3</li>
                <li>기간 : 2020-12-02 ~ 2020-12-02</li>
              </ul>
            </li>
          </ul>

        <hr class="mb-3" />
        <ul>
          <li><a href="/submitter/data_submit">돌아가기</a></li>
        </ul>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
